* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
  --border: #8257e5;
  --font: 'Merriweather Sans', sans-serif;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font);
  background-color: var(--body-bg-color);
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1500px;
  padding-inline: 5rem;
  padding-top: 4rem;
  display: flex;
  margin: 0 auto;
  gap: 6rem;
}

img {
  width: 100%;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

a {
  text-decoration: none;
}

.titles-cards-sidebar {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

/* =============== PROFILE =============== */

.profile {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  padding: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.profile:hover {
  transform: scale(1.1);
}

.profile .photo {
  width: 12.8rem;
  height: 12.8rem;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid var(--border);
  margin-bottom: 2rem;
}

.profile h1 {
  color: var(--text-color);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

.profile p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* =============== LINKS =============== */

.links {
  width: 100%;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  padding: 3rem;
  transform: scale(1);
  transition: 0.5s;
}

.links:hover {
  transform: scale(1.1);
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

.socials .content-links {
  display: flex;
  justify-content: flex start;
  align-items: center;
  gap: 2.3rem;
}

.socials .title {
  display: flex;
  justify-content: flex-start;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;

  transition: 0.4s;
}

.title:hover {
  color: #fff;
}

.socials svg {
  color: var(--border);
  width: 2.4rem;
  height: 2.4rem;
}

/* =============== TECHNOLOGIES =============== */

.technologies {
  width: 100%;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.technologies:hover {
  transform: scale(1.1);
}

.techs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-inline: 1rem;
  gap: 1.5rem;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-techs);
  color: black;
  border-radius: 3rem;
  font-size: 1rem;

  font-weight: 700;
  line-height: 1.3rem;
  text-transform: uppercase;

  width: 100%;
  height: 2.4rem;
}

/* =============== EXPERIENCIES =============== */

.experiences {
  width: 100%;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.experiences:hover {
  transform: scale(1.1);
}

.companies {
  margin-left: 4rem;
}

.companie {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== EDUCATION =============== */

.education {
  width: 100%;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.education:hover {
  transform: scale(1.1);
}

.schools {
  margin-left: 4rem;
}

.school {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== CONTENT =============== */

.content {
  margin-bottom: 3rem;
  width: 100%;
}

.projects {
  margin-bottom: 3rem;
}

.my-projects {
  width: 100%;
  background-color: var(--border);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

.project-title a {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  transition: 0.3s;
}

.project-title a:hover {
  background: #bba0e5;
  border-radius: 0.5rem;
  padding: 3px;
  color: #563d7c;
}

.project-description a {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  transition: 0.3s;
}

.project-description a:hover {
  background: #bba0e5;
  border-radius: 0.5rem;
  padding: 3px;
  color: #563d7c;
}

.main-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.project-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;

  transform: scale(1);
  transition: 0.5s;
}

.project-cards:hover {
  transform: scale(1.1);
}

.title-project-cards {
  transition: 0.3s;
}

.title-project-cards:hover {
  color: #fff;
}

.header-cards {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
}

.header-cards svg {
  width: 2rem;
  height: 2rem;
  color: var(--border);
}

.header-cards a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.content-project-cards {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.references-cards {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  align-items: center;
  gap: 18rem;
}

.stars-branch {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.stars-branch svg {
  width: 2rem;
  height: 2rem;
  color: var(--border);
}

.stars-branch p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-right: 0.8rem;
}

.language-used {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.language-used .circle-one {
  width: 1.5rem;
  height: 1.5rem;
  background: #e34c26;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.language-used .circle-two {
  width: 1.5rem;
  height: 1.5rem;
  background: #f1e05a;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.language-used .circle-three {
  width: 1.5rem;
  height: 1.5rem;
  background: #3178c6;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.language-used .circle-four {
  width: 1.5rem;
  height: 1.5rem;
  background: #563d7c;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.language-used .language-card {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== POSTS =============== */

.content-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recent-post {
  width: 100%;
  background-color: var(--border);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.recent-post-title {
  color: #fff;
  margin-block: 3rem;
  margin-left: 3rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.post-card {
  width: 100%;
  display: flex;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  align-items: center;

  transform: scale(1);
  transition: 0.5s;
}

.post-card:hover {
  transform: scale(1.1);
}

.content-post-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.content-post-card img {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
}

.text-post {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.primarytext-post a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;

  transition: 0.3s;
}

.primarytext-post a:hover {
  color: #fff;
}

.primarytext-post p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.subtext-post a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;

  transition: 0.3s;
}

.subtext-post a:hover {
  color: #fff;
}

.subtext-post h4 {
  margin-bottom: 1rem;
}

.hashtags {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hashtags p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== FOOTER ============== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

footer:hover {
  opacity: 1;
}

@media (max-width: 1420px) {
  .main-projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 1080px) {
  .post-card {
    height: 37.5rem;
  }

  .content-post-card {
    flex-direction: column;
  }

  .text-post {
    align-items: center;
  }

  .primarytext-post p {
    text-align: center;
  }

  .subtext-post a {
    text-align: center;
  }

  .hashtags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (max-width: 950px) {
  .techs {
    grid-template-columns: 100px 100px 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 529px) {
  .references-cards {
    gap: 2rem;
  }

  .techs {
    grid-template-columns: 150px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-inline: 4rem;
  }

  .profile .photo {
    width: 9rem;
    height: 9rem;
  }

  .profile h1 {
    font-size: 1.8rem;
  }

  .profile p {
    font-size: 1.2rem;
  }

  .project-title a {
    font-size: 1.7rem;
  }

  .project-description a {
    font-size: 1.4rem;
  }

  .titles-cards-sidebar {
    font-size: 1.7rem;
  }

  .content-project-cards {
    font-size: 1.3rem;
  }

  .recent-post-title {
    font-size: 1.7rem;
  }

  .primarytext-post a {
    font-size: 1.5rem;
  }

  .primarytext-post p {
    font-size: 1.2rem;
  }

  .subtext-post a {
    font-size: 1.3rem;
  }

  .hashtags p {
    font-size: 1.2rem;
  }

  .content-post-card img {
    width: 9rem;
    height: 9rem;
  }

  footer p {
    font-size: 1.2rem;
  }
}
