* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
  --border: #8257e5;
  --font: 'Merriweather Sans', sans-serif;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  background-color: var(--body-bg-color);
  overflow: overlay;
}

main {
  padding-inline: 4rem;
  padding-top: 4rem;
  display: flex;
}

img {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* =============== PROFILE =============== */

.profile {
  width: 34.8rem;
  height: 27.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  margin-bottom: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.profile:hover {
  transform: scale(1.1);
}

.profile .photo {
  width: 12.8rem;
  height: 12.8rem;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid var(--border);
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}

.profile h1 {
  color: var(--text-color);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

.profile p {
  color: var(--text-color);
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 3.2rem;
}

/* =============== LINKS =============== */

.links {
  width: 34.8rem;
  height: 34.8rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  margin-bottom: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.links:hover {
  transform: scale(1.1);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 3rem;
  margin-right: 9.8rem;
}

.socials .content {
  display: flex;
  justify-content: flex start;
  align-items: center;
  gap: 2.3rem;
  margin-bottom: 2.5rem;
}

.socials .title {
  display: flex;
  justify-content: flex-start;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;

  transition: 0.4s;
}

.title:hover {
  color: #fff;
}

.socials svg {
  color: var(--border);
  width: 2.4rem;
  height: 2.4rem;
}

/* =============== TECHNOLOGIES =============== */

.technologies {
  width: 34.8rem;
  height: 20.8rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  margin-bottom: 3rem;
  padding-block: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 1fr;

  transform: scale(1);
  transition: 0.5s;
}

.technologies:hover {
  transform: scale(1.1);
}

.title-techs {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  padding-left: 2rem;
}

.techs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-left: 3rem;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-techs);
  border-radius: 3rem;
  font-size: 1rem;
  color: black;
  font-weight: 700;
  padding: 0.2rem 0.6rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

/* =============== EXPERIENCIES =============== */

.experiences {
  width: 34.8rem;
  height: 32rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  transform: scale(1);
  transition: 0.5s;
}

.experiences:hover {
  transform: scale(1.1);
}

.title-experiences {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.companies {
  margin-left: 5.3rem;
}

.companie {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== EDUCATION =============== */

.education {
  width: 34.8rem;
  height: 18rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;

  transform: scale(1);
  transition: 0.5s;
}

.education:hover {
  transform: scale(1.1);
}

.title-education {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.schools {
  margin-left: 5.3rem;
}

.school {
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== CONTENT =============== */

.content {
  margin-left: 6rem;
}

.projects {
  margin-bottom: 3.5rem;
}

.my-projects {
  width: 102rem;
  height: 8.6rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3.5rem;

  transform: scale(1);
  transition: 0.5s;
}

.my-projects:hover {
  transform: scale(1.1);
}

.project-title a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;

  transition: 0.3s;
}

.project-title a:hover {
  color: #fff;
}

.project-description a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  transition: 0.3s;
}

.project-description a:hover {
  color: #fff;
}

.main-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
}

.main-projects .circle {
  width: 1.5rem;
  height: 1.5rem;
  background: #e7de79;
  border: 2px solid var(--text-color);
  border-radius: 50%;
}

.project-one,
.project-second,
.project-third,
.project-fourth {
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  padding-left: 3rem;
  width: 49.5rem;
  height: 18.6rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;

  transform: scale(1);
  transition: 0.5s;
}

.project-one:hover,
.project-second:hover,
.project-third:hover,
.project-fourth:hover {
  transform: scale(1.1);
}

.title-project-one,
.title-project-second,
.title-project-third,
.title-project-fourth {
  transition: 0.3s;
}

.title-project-one:hover,
.title-project-second:hover,
.title-project-third:hover,
.title-project-fourth:hover {
  color: #fff;
}

.header-one,
.header-second,
.header-third,
.header-fourth {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
}

.header-one svg,
.header-second svg,
.header-third svg,
.header-fourth svg {
  width: 2rem;
  height: 2rem;
  color: var(--border);
}

.header-one a,
.header-second a,
.header-third a,
.header-fourth a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.content-project-one,
.content-project-second,
.content-project-third,
.content-project-fourth {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.references-one,
.references-second,
.references-third,
.references-fourth {
  display: flex;
  align-items: center;
  gap: 18rem;
}

.stars-branch-one,
.stars-branch-second,
.stars-branch-third,
.stars-branch-fourth {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.stars-branch-one svg,
.stars-branch-second svg,
.stars-branch-third svg,
.stars-branch-fourth svg {
  width: 2rem;
  height: 2rem;
  color: var(--border);
}

.stars-branch-one p,
.stars-branch-second p,
.stars-branch-third p,
.stars-branch-fourth p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-right: 0.8rem;
}

.one-language-used,
.second-language-used,
.third-language-used,
.fourth-language-used {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.one-language-used .circle {
  background: #e34c26;
}

.third-language-used .circle {
  background: #3178c6;
}

.fourth-language-used .circle {
  background: #563d7c;
}

.one-language-used p,
.second-language-used p,
.third-language-used p,
.fourth-language-used p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== POSTS =============== */

.content-posts {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.recent-post {
  width: 102rem;
  height: 8.6rem;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  align-items: center;

  transform: scale(1);
  transition: 0.5s;
}

.recent-post:hover {
  transform: scale(1.1);
}

.recent-post-title {
  color: var(--text-color);
  margin-block: 3rem;
  margin-left: 3rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.post-one,
.post-two {
  width: 102rem;
  height: 20.1rem;
  display: flex;
  background-color: var(--bg-cards);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  border-radius: 2rem;
  align-items: center;

  transform: scale(1);
  transition: 0.5s;
}

.post-one:hover,
.post-two:hover {
  transform: scale(1.1);
}

.content-post-one,
.content-post-two {
  display: flex;
  align-items: center;
  margin-block: 3rem;
  margin-left: 3rem;
  gap: 2rem;
}

.content-post-one img,
.content-post-two img {
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
}

.text-post-one,
.text-post-two {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.primarytext-post-one a,
.primarytext-post-two a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;

  transition: 0.3s;
}

.primarytext-post-one a:hover,
.primarytext-post-two a:hover {
  color: #fff;
}

.primarytext-post-one p,
.primarytext-post-two p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.subtext-post-one a,
.subtext-post-two a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;

  transition: 0.3s;
}

.subtext-post-one a:hover,
.subtext-post-two a:hover {
  color: #fff;
}

.subtext-post-one h4,
.subtext-post-two h4 {
  margin-bottom: 1rem;
}

.hashtags {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hashtags p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

/* =============== FOOTER =============== */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

footer:hover {
  opacity: 1;
}
